{% extends 'layout.html' %}

{% block content %}

<div id="map-canvas" class="col-7 col-md-6 col-sm-10"></div>

<section id="planner" class="col-3 col-md-4 col-sm-10">


  <!-- for passing data to jQuery -->
  <!-- seeems like a terrible way to do it.... -->
  <dataStuff id="all-data">
    {% for r in restaurants %}
      <dataThings data-type="restaurants" data-id="{{r.id}}" data-name="{{r.name}}"></dataThings>
    {% endfor %}
    {% for r in hotels %}
      <dataThings data-type="hotels" data-id="{{r.id}}" data-name="{{r.name}}"></dataThings>
    {% endfor %}
    {% for r in activities %}
      <dataThings data-type="activities" data-id="{{r.id}}" data-name="{{r.name}}"></dataThings>
    {% endfor %}
  </dataStuff>
  



  <section class="itinerary">
    <div class="section-nav">
      <a class="btn btn-round" href="">1</a>
      <a class="btn btn-round btn-active" href="">2</a>
      <a class="btn btn-round" href="">3</a>
      <a class="btn btn-round" href="">+</a>
    </div>

    <section class="new-hotel">
      <span class="section-head-sm">Hotel</span>
      <li>Andaz Wall Street</li>
    </section>

    <section class="new-foods">
      <span class="section-head-sm">Food</span>
      <li>Joe's Shanghai</li>
      <li>Cafe Katja</li>
    </section>

    <section class="new-activities">
      <span class="section-head-sm">Activities</span>
      <li>South Street Seaport</li>
      <li>Blue Man's Group</li>
      <li>Scott's Pizza Tours</li>
    </section>



  </section>




</section>

<script src="js/picker.js" charset="utf-8"></script>

{% endblock %}
