{% extends 'layout.html' %}

{% block content %}

<div id="map-canvas" class="col-7 col-md-6 col-sm-10"></div>

<section id="planner" class="col-3 col-md-4 col-sm-10">

  <section class="picker">
    <div class="section-nav">
      <li><a href="" class="show-hotels active"><i class="fa fa-bed" aria-hidden="true"></a></i></li>
      <li><a href="" class="show-food"><i class="fa fa-cutlery" aria-hidden="true"></i></a></li>
      <li><a href="" class="show-activities"><i class="fa fa-futbol-o" aria-hidden="true"></i></a></li>
    </div>

    <form class="pick food hidden">
      <label for="restaurants">Restaurants</label>
      <select name="restaurants">
        {% for restaurant in restaurants %}
        <option value="{{restaurant.id}}">{{restaurant.name}}</option>
        {% endfor %}
      </select>
      <input class="btn btn-primary" type="submit" name="" value="Add">
    </form>

    <form class="pick hotels">
      <label for="hotels">Hotels</label>
      <select name="hotels">
        {% for hotel in hotels %}
        <option value="{{hotel.id}}">{{hotel.name}}
        </option>
        {% endfor %}
      </select>
      <!-- <span class="triangle"></span> -->

      <input class="btn btn-primary" type="submit" name="" value="Add">
    </form>

    <form class="pick activities hidden">
      <label for="activities">Activities</label>
      <select name="activities">
        {% for activity in activities %}
        <option value="{{activity.id}}">{{activity.name}}</option>
        {% endfor %}
      </select>
      <input class="btn btn-primary" type="submit" name="" value="Add">
    </form>
  </section>



  <section class="itinerary">
    <div class="section-nav">
      <a class="btn btn-round" href="">1</a>
      <a class="btn btn-round btn-active" href="">2</a>
      <a class="btn btn-round" href="">3</a>
      <a class="btn btn-round" href="">+</a>
    </div>

    <section class="new-hotel">
      <span class="section-head-sm">Hotel</span>
      <li>Andaz Wall Street</li>
    </section>

    <section class="new-foods">
      <span class="section-head-sm">Food</span>
      <li>Joe's Shanghai</li>
      <li>Cafe Katja</li>
    </section>

    <section class="new-activities">
      <span class="section-head-sm">Activities</span>
      <li>South Street Seaport</li>
      <li>Blue Man's Group</li>
      <li>Scott's Pizza Tours</li>
    </section>


  </section>




</section>


{% endblock %}
