$navy: #001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$cyan: #00FFFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$maroon: #85144b;
$fuschia: #F012BE;
$purple: #B10DC9;
$black: #111111;
$gray: #AAAAAA;
$silver: #DDDDDD;
$white: #fff;

// red material
// $primary: #d32f2f;
// $p-dark: #9a0007;
// $p-light: #ff6659;
// $secondary: #ffc400;
// $s-dark: #c79400;
// $s-light: #fff64f;

// purple material
// $primary: #7e57c2;
// $p-dark: darken($primary, 20%);
// $p-light: lighten($primary, 20%);
// $secondary: #fafafa;
// $s-dark: darken($secondary, 20%);
// $s-light: lighten($secondary, 20%);

// batman material
$primary: #263238;
$p-dark: #000a12;
$p-light: #4f5b62;
$secondary: #ffeb3b;
$s-dark: #c8b900;
$s-light: #ffff72;