@import "_colors.scss";
@import "_grid.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$roboto: 'Roboto', sans-serif;

* { font-family: $roboto; }
a { color: inherit; text-decoration: none; font-family: $roboto; }

body { background-color: $p-light; }

main {
  height: $view-height;
  padding: $gutter;
}

#map-canvas {
  height: 100%;
  @include make-shade(3, $primary);
}


nav {
  height: 3em;
  display: flex;
  padding: 0 $gutter;

  @include make-shade(1, $p-dark);

  & .fa { color: $secondary; }

  // color
  background-color: $primary;
  color: $white;

  & ul {
    @include make-flex-nav($secondary);
  }
}

.picker {
  @include make-shade(1, $primary)
  background-color: $primary;
  color: $white;
  padding: $gutter;

  & select, & input[type=submit] {
    width: 100%;
  }
}

.section-nav {
  @include make-flex-nav($black);
  margin-bottom: $gutter;
  border-bottom: solid 2px $secondary;

  & .active { color: $secondary; }

  & li {
    flex-grow: 1;
    justify-content: center;
    margin-right: 0;
    border-right: solid 2px $secondary;
    font-size: 1.4em;
    padding: 0.7em;
    &:last-child { border-right: 0; }
  }
}

.btn {
  @include make-shade(1, lighten($p-dark, 10%));
}